* {
  font-family: sans-serif;
  list-style-type: none;
}


/* Header */
.time-scores {
  display: flex;
  justify-content: space-between;
  margin: 25px
}

/* High Scores button */
#high-scores {
  color: purple;
}


/* question headers */
.question {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  font-size: 48px;
}


/* intro quiz content */
.coding-quiz-text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 250px;
  margin-left: 250px;
  line-height: 1.5;
  font-size: 24px;
  text-align: center;


}

/* start button */
#start-btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 25px;
  font-size: 16px;
  background-color: purple;
  color: white;
  border-radius: 5px;
}

/* Controls the questions */
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nested flexbox to align the questions */
.question-box {
  display: flex;
  flex-direction: column;
   /* display: none; makes questions not visible */
}

/* changes size of question */
.question-text {
  font-size: 48px;
}

/* changes size of answers  */
 .choices button {
  display: block; 
  margin: 10px 0;
  font-size: 24px;
  line-height: 1.5;
  width: 25%;
  background-color: purple;
  color: white;
}

.choices {
  display: flex;
  flex-direction: column;
}


.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
} 
/* question 1 text */
/* .question-text {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}  */